body {
    background-color: #f7f7f7; /* tom neutro claro */
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 20px;
    color: #111;
}

h1 {
    font-style: italic;
    color: #c20000; /* vermelho Athletico */
    font-size: 2.5em;
    border-bottom: 3px solid #c20000;
    padding-bottom: 10px;
}

h2 {
    color: #000000;
    font-weight: bold;
    margin-top: 40px;
    font-size: 1.6em;
}

h3 {
    color: #c20000;
    font-weight: bold;
    margin-top: 30px;
    font-size: 1.3em;
}

p {
    font-size: 1em;
    line-height: 1.6;
    margin: 10px 0;
}

header {
    background-color: #c20000;
    padding: 15px;
    text-align: center;
    border-radius: 0 0 10px 10px;
}

header a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    font-size: 1em;
}

header a:hover {
    text-decoration: underline;
}

.imagem {
    width: 80%;
    max-width: 600px;
    border: 5px solid #c20000;
    border-radius: 12px;
    display: block;
    margin: 25px auto;
}

.lista {
    background-color: #e6e6e6;
    border-left: 5px solid #c20000;
    padding: 20px;
    margin-top: 30px;
    color: #333333;
    font-weight: bold;
    border-radius: 6px;
}

.lista ul {
    padding-left: 20px;
}

ul li {
    margin-bottom: 10px;
    font-weight: normal;
}

footer {
    text-align: center;
    margin-top: 40px;
    padding: 20px;
}

footer a {
    text-decoration: none;
    color: #c20000;
    margin: 0 15px;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}
